@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

.app {
  box-sizing: border-box;
  min-height: 100vh;
  background: #ecf0f1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

h1 {
  font-family: 'Rye', cursive;
  padding: 5rem 0;
  background: url('/src/assets/img/merica.jpg');
  background-size: cover;
  width: 100%;
  margin-top: 0;
  text-align: center;
}
