.fact {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;

  background: white;
  border: 1px solid #7f8c8d;
  border-radius: 0.5rem;
  z-index: 10;
  box-shadow: 9px 10px 15px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 9px 10px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 9px 10px 15px 0px rgba(0, 0, 0, 0.1);

  width: 400px;

  font-size: 1.2rem;
}

.fact .fact__image {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2d3e57;
}
